{% extends "proto.html" %}

{% block title %}BookSheet! {% endblock %}

{% block page_content %}
<section class="block">
	<div class="header alt vert" id = "aboutapp">
	  <div class="container">
	    <h1>BookShit!</h1>
	      <p class="lead">Make your bookmark free</p>
	  </div>
	</div>
</section>
<!-- Section 1 Parallax -->
<section id="firstparallax" data-speed="6" data-type="background">
    <div class="container">
    </div>
</section>
<!-- Section Carousel -->
<section class="block">
 <div class="row clearfix">
	 <div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-196461">
					</li>
					<li data-slide-to="1" data-target="#carousel-196461">
					</li>
					<li data-slide-to="2" data-target="#carousel-196461">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="http://upload.wikimedia.org/wikipedia/commons/f/f8/Adams_Corner_-_Schulhaus_2.jpg" />
						<div class="carousel-caption">
							<h4>
								For People who is oldschool style reader
							</h4>
							<p>
								1337
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://upload.wikimedia.org/wikipedia/commons/f/fc/Bookmark_in_a_Wellcome_Diary_and_Visiting_List_Wellcome_L0041463.jpg" />
						<div class="carousel-caption">
							<h4>
								Shoot your bookmark
							</h4>
							<p>
								1337	
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="https://farm8.staticflickr.com/7163/6712770465_a773fb8bae_o.jpg" />
						<div class="carousel-caption">
							<h4>
								Read Your Book
							</h4>
							<p>
								1337
							</p>
						</div>
					</div>
				</div>
        <div class="pull-center">
        	<a class="carousel-control left" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        	<a class="carousel-control right" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
  </div>
<div class="container">
</div>
</section>
{% endblock %}



